body {
  font-family: "Raleway", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 100px;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  color: white;
  -webkit-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
}

#header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 100px;
  z-index: 2;
}

#header:hover {
  height: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #505050;
}

#logo {
  position: absolute;
  left: 50px;
  top: -10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gnb h2 {
  display: none;
}

#gnb .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

#gnb .list .depth01 {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  height: 100px;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s 0.1s;
          transition-duration: 0.5s 0.1s;
}

#gnb .list .depth01:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #0c4fa7;
  left: 30px;
  right: 30px;
  bottom: 0;
  height: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

#gnb .list .depth01:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#gnb .list .depth02 {
  padding-left: 70px;
  padding-top: 10px;
  color: #505050;
}

#gnb .list .depth02 li {
  font-size: 15px;
  margin-top: 15px;
}

#gnb .list .depth02 li:before {
  content: "\2012";
  margin-left: -20px;
  margin-right: 5px;
}
