.titleBox {
  margin-top: 100px;
  text-align: center;
}

.titleBox h3 {
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 800;
  color: #111;
}

.titleBox h4 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #111;
}

.titleBox p {
  font-size: 21px;
  color: #555;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

#mainVisual {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: white;
}

#mainVisual li {
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

#mainVisual li.visual01 {
  background-image: url(../images/main/visual01.jpg);
}

#mainVisual li.visual02 {
  background-image: url(../images/main/visual02.png);
}

#mainVisual li.visual03 {
  background-image: url(../images/main/visual03.png);
}

#mainVisual li.visual04 {
  background-image: url(../images/main/visual04.png);
}

#mainVisual li .txtBox {
  width: 1500px;
  height: 1000px;
  margin: 210px auto;
}

#mainVisual li .txtBox .main {
  text-align: right;
}

#mainVisual li .txtBox h2 {
  padding-bottom: 50px;
  font-size: 72px;
  font-weight: 700;
  line-height: 5rem;
}

#mainVisual li .txtBox h2 span {
  color: #af9b70;
}

#mainVisual li .txtBox .headTxt {
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 3rem;
}

#mainVisual li .txtBox .descTxt {
  font-size: 18px;
  color: #af9b70;
  line-height: 2rem;
}

#mainVisual li .txtBox span {
  color: white;
}

#mainVisual .btns {
  width: 1500px;
  position: absolute;
  bottom: 50px;
  z-index: 5;
  text-align: left;
}

#mainVisual .btns button {
  color: white;
  border: none;
  background: none;
}

#mainVisual .iconScroll {
  width: 100%;
  position: absolute;
  bottom: 75px;
  z-index: 2;
  color: #fff;
  text-align: center;
}

#mainVisual .iconScroll .txt {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 100;
}

#mainVisual .iconScroll .icon {
  display: block;
  width: 16px;
  height: 38px;
  margin: 0 auto 10px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  box-sizing: unset;
}

#mainVisual .iconScroll .icon:before {
  display: block;
  width: 3px;
  height: 10px;
  margin: 10px auto 0;
  content: "";
  border-radius: 100px;
  background-color: #fff;
  animation: mouseAnimation 2s ease-in-out 0s infinite alternate;
}

#industry ul {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 120px;
}

#industry ul li {
  position: relative;
  transition: all 0.3s ease-in-out;
}

#industry ul li:hover {
  transform: translateY(-15px);
}

#industry ul li:hover .cover {
  display: block;
}

#industry ul li .imgBox img {
  display: block;
  border-radius: 20px;
}

#industry ul li .imgBox h3 {
  bottom: 100px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#industry ul li .txtBox {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#industry ul li .txtBox h3 {
  bottom: 100px;
  font-size: 30px;
  font-weight: 600;
}

#industry ul li .txtBox h3:after {
  margin: 50px auto;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
}

#industry ul li .txtBox p {
  bottom: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 2rem;
  white-space: nowrap;
}

#industry ul li .txtBox .more {
  bottom: 50px;
  padding-top: 10px;
  font-size: 16px;
}

#industry ul li .txtBox .more:after {
  display: inline-block;
  padding-left: 5px;
  font-family: "Material Icons";
  font-size: 26px;
  transform: translateY(7px);
  content: "\e8e4";
}

#industry ul li .cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 60px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  background-color: #0c4fa7;
  box-sizing: border-box;
  border-radius: 20px;
}

#service ul {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 120px;
}

#service ul li {
  position: relative;
  transition: all 0.3s ease-in-out;
}

#service ul li:hover {
  transform: translateY(-15px);
}

#service ul li:hover .cover {
  display: block;
}

#service ul li:hover img {
  display: none;
}

#service ul li .imgBox {
  width: 280px;
  height: 400px;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.75);
  border-radius: 20px;
}

#service ul li .imgBox img {
  width: 100px;
  height: 100px;
  z-index: 3;
  border: none;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#service ul li .imgBox h3 {
  bottom: 50px;
  font-size: 25px;
  font-weight: 500;
  color: #555;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#service ul li .txtBox {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#service ul li .txtBox h3 {
  bottom: 100px;
  font-size: 30px;
  font-weight: 600;
}

#service ul li .txtBox h3:after {
  margin: 50px auto;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
}

#service ul li .txtBox p {
  bottom: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 2rem;
  white-space: nowrap;
}

#service ul li .txtBox .more {
  bottom: 50px;
  padding-top: 10px;
  font-size: 16px;
}

#service ul li .txtBox .more:after {
  display: inline-block;
  padding-left: 5px;
  font-family: "Material Icons";
  font-size: 26px;
  transform: translateY(7px);
  content: "\e8e4";
}

#service ul li .cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 60px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  background-color: #0c4fa7;
  box-sizing: border-box;
  border-radius: 20px;
}

#news {
  overflow: hidden;
}

#news .titleBox {
  position: relative;
}

#news .titleBox h4 {
  color: #555;
}

#news .container {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
}

#news .container .swiper-slide {
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-color: #0c4fa7;
}

#news .container .swiper-slide .txtBox {
  position: relative;
  padding: 50px 50px;
}

#news .container .swiper-slide .txtBox h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
}

#news .container .swiper-slide .txtBox h3:after {
  margin-top: 30px;
  content: "";
  vertical-align: center;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

#news .container .swiper-slide .txtBox p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  height: 6em;
  overflow: hidden;
  line-height: 1.2;
  -webkit-line-clamp: 5;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#news .container .swiper-slide .txtBox .detail {
  font-size: 16px;
  color: #fff;
  content: "";
  display: block;
  position: absolute;
}

#news .container .swiper-slide .txtBox .detail:after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e941";
  vertical-align: middle;
}

#news button {
  border: none;
  background: none;
  content: "";
  display: block;
  position: absolute;
}

#news button .material-icons {
  font-size: 50px;
}

#news button .prev {
  left: 0;
}

#news button .next {
  right: 15px;
}

#news .sticker {
  position: absolute;
  font-size: 16px;
  color: #aaa;
  right: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#news .sticker:after {
  display: inline-block;
  padding-left: 5px;
  font-family: "Material Icons";
  font-size: 26px;
  transform: translateY(7px);
  content: "\e8e4";
}

@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
