@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin multiEllipsis($line: 3, $lineHeight: 1.5) {
  display: -webkit-box;
  height: ($lineHeight * 1em * $line);
  overflow: hidden;
  line-height: $lineHeight;
  -webkit-line-clamp: $line;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}
@mixin absCenter($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if($horizontal) {
    left: 50%;
    transform: translateX(-50%);
  } @else if($vertical) {
    top: 50%;
    transform: translateY(-50%);
  }
}
//if, for
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin box($w: 10px, $h: 10px, $bg: #000) {
  display: block;
  width: $w;
  height: $h;
  background-color: $bg;
}
@mixin longShadow($shadowColor: rgb(0, 0, 0), $limit: 20) {
  $shadow: "";
  @for $i from 1 to ($limit - 1) {
    $shadow: $shadow + $i + "px " + $i + "px 0px " + $shadowColor + " ,";
  }
  $shadow: $shadow + $limit + "px " + $limit + "px 0px " + $shadowColor;
  $shadow: unquote($shadow);
  text-shadow: $shadow;
}
@mixin fade-in-ellipsis($box-width, $right-width, $bg-color) {
  position: relative;
  max-width: calc(100% - #{$right-width});
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(#{$box-width} - #{$right-width} - 30px);
    height: 100%;
    width: 30px;
    background-image: -webkit-linear-gradient(left, rgba($bg-color, 0), $bg-color);
    background-image: linear-gradient(left, rgba($bg-color, 0), $bg-color);
  }
}
