@import "vars";
@import "mixin";
// common
.titleBox {
  margin-top: 100px;
  text-align: center;
  h3 {
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 800;
    color: #111;
  }
  h4 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #111;
  }
  p {
    font-size: 21px;
    color: #555;
  }
}
.container {
  width: 1500px;
  margin: 0 auto;
}
#mainVisual {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  li {
    height: 100vh;
    background: {
      repeat: none;
      size: cover;
    }
    &.visual01 {
      background-image: url(../images/main/visual01.jpg);
    }
    &.visual02 {
      background-image: url(../images/main/visual02.png);
    }
    &.visual03 {
      background-image: url(../images/main/visual03.png);
    }
    &.visual04 {
      background-image: url(../images/main/visual04.png);
    }
    .txtBox {
      width: 1500px;
      height: 1000px;
      margin: 210px auto;
      .main {
        text-align: right;
      }
      h2 {
        padding-bottom: 50px;
        font-size: 72px;
        font-weight: 700;
        line-height: 5rem;
        span {
          color: rgb(175, 155, 112);
        }
      }
      .headTxt {
        padding-bottom: 30px;
        font-size: 28px;
        line-height: 3rem;
      }
      .descTxt {
        font-size: 18px;
        color: rgb(175, 155, 112);
        line-height: 2rem;
      }
      span {
        color: rgb(255, 255, 255);
      }
    }
  }
  .btns {
    width: 1500px;
    position: absolute;
    bottom: 50px;
    z-index: 5;
    text-align: left;
    button {
      color: rgb(255, 255, 255);
      border: none;
      background: none;
    }
  }
  .iconScroll {
    width: 100%;
    position: absolute;
    bottom: 75px;
    z-index: 2;
    color: #fff;
    text-align: center;
    .txt {
      display: block;
      margin-bottom: 6px;
      font-size: 15px;
      font-weight: 100;
    }
    .icon {
      display: block;
      width: 16px;
      height: 38px;
      margin: 0 auto 10px;
      border: 2px solid #fff;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 100px;
      box-sizing: unset;
      &:before {
        display: block;
        width: 3px;
        height: 10px;
        margin: 10px auto 0;
        content: "";
        border-radius: 100px;
        background-color: #fff;
        animation: mouseAnimation 2s ease-in-out 0s infinite alternate;
      }
    }
  }
}
#industry {
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 120px;
    li {
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-15px);
        .cover {
          display: block;
        }
      }
      .imgBox {
        img {
          display: block;
          border-radius: 20px;
        }
        h3 {
          bottom: 100px;
          font-size: $font-medium;
          font-weight: 500;
          color: #fff;
          @include absCenter(true, false);
        }
      }
      .txtBox {
        text-align: center;
        @include absCenter(true, false);
        h3 {
          bottom: 100px;
          font-size: $font-medium + 2px;
          font-weight: 600;
          &:after {
            margin: 50px auto;
            content: "";
            @include box(20px, 2px, rgb(255, 255, 255));
          }
        }
        p {
          bottom: 50px;
          padding-top: 10px;
          padding-bottom: 60px;
          font-size: $font-normal + 2px;
          line-height: 2rem;
          white-space: nowrap;
        }
        .more {
          bottom: 50px;
          padding-top: 10px;
          font-size: $font-normal;
          &:after {
            display: inline-block;
            padding-left: 5px;
            font-family: "Material Icons";
            font-size: $font-normal + 10px;
            transform: translateY(7px);
            content: "\e8e4";
          }
        }
      }
      .cover {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: 60px;
        color: #fff;
        transition: all 0.25s ease-in-out;
        background-color: rgba($sub-color, 1);
        box-sizing: border-box;
        border-radius: 20px;
      }
    }
  }
}
#service {
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 120px;
    li {
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-15px);
        .cover {
          display: block;
        }
        img {
          display: none;
        }
      }
      .imgBox {
        width: 280px;
        height: 400px;
        box-shadow: 0 0 10px rgba(204, 204, 204, 0.75);
        border-radius: 20px;
        img {
          width: 100px;
          height: 100px;
          z-index: 3;
          border: none;
          object-fit: cover;
          @include absCenter(true, true);
        }
        h3 {
          bottom: 50px;
          font-size: $font-medium - 3px;
          font-weight: 500;
          color: #555;
          white-space: nowrap;
          @include absCenter(true, false);
        }
      }
      .txtBox {
        text-align: center;
        @include absCenter(true, false);
        h3 {
          bottom: 100px;
          font-size: $font-medium + 2px;
          font-weight: 600;
          &:after {
            margin: 50px auto;
            content: "";
            @include box(20px, 2px, rgb(255, 255, 255));
          }
        }
        p {
          bottom: 50px;
          padding-top: 10px;
          padding-bottom: 60px;
          font-size: $font-normal + 2px;
          line-height: 2rem;
          white-space: nowrap;
        }
        .more {
          bottom: 50px;
          padding-top: 10px;
          font-size: $font-normal;
          &:after {
            display: inline-block;
            padding-left: 5px;
            font-family: "Material Icons";
            font-size: $font-normal + 10px;
            transform: translateY(7px);
            content: "\e8e4";
          }
        }
      }
      .cover {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: 60px;
        color: #fff;
        transition: all 0.25s ease-in-out;
        background-color: rgba($sub-color, 1);
        box-sizing: border-box;
        border-radius: 20px;
      }
    }
  }
}
#news {
  overflow: hidden;
  // position: relative;
  .titleBox {
    h4 {
      color: #555;
    }
  }
  .container {
    margin-top: 100px;
    margin-bottom: 50px;
    .swiper-slide {
      width: 450px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 25px;
      background-color: $sub-color;
      .txtBox {
        position: relative;
        padding: 50px 50px;
        h3 {
          margin-bottom: 15px;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
          line-height: 1.5;
          &:after {
            margin-top: 30px;
            content: "";
            vertical-align: center;
            @include box(100%, 3px, #fff);
          }
        }
        p {
          margin-bottom: 30px;
          font-size: 16px;
          color: #fff;
          @include multiEllipsis(5, 1.2);
        }
        .detail {
          font-size: 16px;
          color: #fff;
          @include pseudo;
          &:after {
            font-family: "Material Icons";
            font-size: 24px;
            content: "\e941";
            vertical-align: middle;
          }
        }
      }
    }
  }
  button {
    border: none;
    background: none;
    .material-icons {
      font-size: 50px;
      @include pseudo;
    }
  }
  .sticker {
    position: absolute;
    padding-top: 10px;
    font-size: $font-normal;
    color: #555;

    &:after {
      display: inline-block;
      padding-left: 5px;
      font-family: "Material Icons";
      font-size: $font-normal + 10px;
      transform: translateY(7px);
      content: "\e8e4";
    }
  }
}

@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
