/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

body {
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  min-height: 2000px;
}
/* a 태그는 컬러를 부모로부터 상속받지 않음. 상속을 강제로 받게 하는 value - inherit 또는 컬러 재정의*/
a {
  text-decoration: none;
  color: inherit;
}
/* block (div, p, h, header, nav, footer, ul, ol, dl, li 등등)
fhd (1920) */
/* line (a, em, strong, i, b, span) -> 넓이 속성 적용 안됨 (block 처리한 경우 적용 가능)*/
/* inline, block, inline-block, flex */
#header {
  /* position: relative; */
  /* border-bottom: 1px solid #ccc; */
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.87, -0.36, 0.18, 1.39) 0.1s;
  /* transition-property: height;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.87, -0.36, 0.18, 1.39);
  transition-duration: 0.5s;
  transition-delay: 0.5s; */
  /* cubic-bezier (chrome) */
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 99;
}
#header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
  position: absolute;
  /* position absolute 사용 시에 block/inline에 관계없이 width/height 값 적용가능 */
  top: 100px;
}
#header:hover {
  height: 450px;
}
/* 가상(pseudo selector) */

#header .container {
  /* margin-left: auto;
  margin-right: auto; */
  /* 상-우-하-좌 순서 */
  /* /* margin: 100px; 상우하좌 100px
  margin: 100px 50px; 상하 100px 좌우 50px
  margin: 100px 50px 30px; 상 100px 좌우 50px 하 30px */
  /* padding도 동일 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}
#logo {
  display: flex;
  align-items: center;
  height: 100px;
}
#gnb .list {
  display: flex;
}
#gnb h2 {
  display: none;
}
#gnb .list .depth01 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}
#gnb .list .depth01:after {
  content: "";
  display: block;

  background-color: #f00;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
/* position: absoulte; 인 상태에서
left와 right 값을 지정 */
#gnb .list .depth01:hover {
  color: rgb(0, 135, 224);
}
#gnb .list .depth01:hover:after {
  transform: scaleX(1);
}
#gnb .list .depth02 {
  padding-top: 30px;
  padding-left: 30px;
  color: #666;
}
#gnb .list .depth02 li {
  margin-top: 10px;
}
#gnb .list .depth02 .depth03 {
  font-size: 14px;
  margin: 20px 0;
}
#gnb .list .depth02 .depth03 li {
  display: flex;
  align-items: center;
}
#gnb .list .depth02 .depth03 li:before {
  /* css에서 만드는 element - :before / :after
  content: "나는 li 앞에 만들어지는 element"; */
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: rgb(150, 150, 150);
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-radius: 2px;
  margin-right: 5px;
}

/* block을 옆으로 나란히 배치하는 방법
vertical align */

/* css 적용순서
style 직접적용
id
class
tag */
