#mainVisual {
  overflow: hidden;
}
#mainVisual li {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#mainVisual .visual01 {
  background-image: url(../images/main/visual01.jpg);
}
#mainVisual .visual02 {
  background-image: url(../images/main/visual02.png);
}
#mainVisual .visual03 {
  background-image: url(../images/main/visual03.png);
}
#mainVisual .visual04 {
  background-image: url(../images/main/visual04.png);
}
#mainVisual ul li .txtBox {
  width: 1500px;
  height: 1000px;
  margin: 210px auto;
}
#mainVisual ul li .txtBox .main {
  text-align: right;
}
#mainVisual ul li .txtBox h2 {
  font-size: 72px;
  font-weight: 700;
  line-height: 5rem;
  padding-bottom: 50px;
}
#mainVisual ul li .txtBox h2 span {
  color: rgb(175, 155, 112);
}
#mainVisual ul li .txtBox .headTxt {
  font-size: 28px;
  line-height: 3rem;
  padding-bottom: 30px;
}
#mainVisual ul li .txtBox .descTxt {
  font-size: 18px;
  line-height: 2rem;
}
#mainVisual ul li .txtBox a {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 100px;
  transition: all 0.25s ease;
}
#mainVisual ul li .txtBox .first span {
  color: rgb(175, 155, 112);
}
#mainVisual ul li .txtBox .descTxt {
  color: rgb(175, 155, 112);
}
#mainVisual ul li .txtBox span {
  color: rgb(255, 255, 255);
}
#mainVisual .iconScroll {
  position: absolute;
  bottom: 75px;
  z-index: 3;
  color: #fff;
  text-align: center;
  width: 100%;
}
#mainVisual .iconScroll .txt {
  font-size: 15px;
  font-weight: 100;
  display: block;
  margin-bottom: 6px;
}
#mainVisual .iconScroll .icon {
  border: 2px solid #fff;
  width: 16px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  margin: 0 auto 10px;
  border-radius: 100px;
  box-sizing: unset;
}
#mainVisual .iconScroll .icon:before {
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 100px;
  background-color: #fff;
  margin: 10px auto 0;
  animation: mouseAnimation 2s ease-in-out 0s infinite alternate;
}
@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
